@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
/*---Styling HTML---*/
html, body {
  height: 100%;
  width: 100%;
  position: relative;
  font-family: 'Abel', sans-serif;
  background-color: #FFFFFF;
  color: #0;
  font-size: 120%
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*---Styling Navbar---*/
.navbar {
  padding: 0.8rem;
}
.navbar-nav li{
  padding-right: 10px;
}
.nav-link {
  font-size: 1.1em !important;
}

/*---Styling carousel---*/
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 20px #001;
}
.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #001;
  padding-bottom: 1rem;
}

.btn-primary {
  background-color: #6648b1;
  border: 1px solid #6648b1;
}
.btn-primary:hover {
  background-color: #563d7c;
  border: 1px solid #563d7c;
}

/*---Styling jumbotron---*/
.jumbotron {
  padding: 1rem;
  background-color: lightgrey;
  border-radius: 0;
}
/*---Styling welcome---*/
.padding {
  padding-bottom: 2rem;
}
.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

/*---Styling Three Column Section---*/
.fa-html5 {
  color: #e32424;
  font-size: 3em;
  margin: 1rem;
}
.fa-bold {
  color: #563d7c;
  font-size: 3em;
  margin: 1rem;
}
.fa-css3 {
  color: #0f1ccc;
  font-size: 3em;
  margin: 1rem;
}
.fa-database {
  color: #165c1a;
  font-size: 3em;
  margin: 1rem;
}
.fa-php {
  color: #787CB5;
  font-size: 3em;
  margin: 1rem;
}

/*---Styling SLD---*/
.scoreI {
  font-size: 300%;
  color: maroon;
}


/*---Styling DV---*/
.graph1 {
  padding-top: 2rem;
}
hr.hrgraph1 {
  border-top: 1px solid grey;
}
.graphcolumn {
  float: left;
  width: 50%;
  padding: 5px;
}
.graphrow::after {
  content: "";
  clear: both;
  display: table;
}
/*---Media Queries (for multiple screen sizes) --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  .carousel-caption {
    top: 45%;
  }
  .carousel-caption h1 {
    font-size: 350%;
  }
  .carousel-caption h3 {
    font-size: 140%;
    font-weight: 400;
    padding-bottom: 0.2rem;
  }
  .carousel-caption .btn {
    font-size: 95%;
    padding: 8px 14px;
  }
}
@media (max-width: 576px) {

}



/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

/* Style the buttons */
.btngraph {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}
.pcc {
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
}

/* Style the active class, and buttons on mouse-over */
.btngraph:active, .btngraph:hover {
  background-color: #1a73e8;
  color: white;
}

/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}

th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}

tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}

tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}

tr:nth-child(odd) td {
  background:#EBEBEB;
}

tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}

td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
